body{
    background-color: rgb(2, 5, 2);
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
   background-color: rgb(32, 56, 43);
   color: white;
   font-family: "Roboto", sans-serif;
}

.passo{
    display:none;
}

.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}